<html>
<body>
<h2> <%= username %>, introduzca la nueva contraseña </h2>
<form method="POST" action="">
<span> Usuario: </span><input name="username" value=<%= username %>> </input>
<span> Contraseña: </span><input type="password" name="password"> </input>
<button> Cambiar contraseña </button>
</form>
</html>
</body>
