<html>
<body>
<h2> Cambio de contraseña </h2>
<h4> <span style="color:red"> <%= username %> </span> , Ya ha cambiado la contraseña de su cuenta </h4>
<a href="/content"> Ir al contenido </a></br>
<a href="/"> Instrucciones </a></br>
<a href="/logout"> Salir </a>
</html>
</body>
