<html>
<body>
<h2 style="color:red"> ERROR !! </h2>
<h4> Su usuario y contraseña no se encuentra en la base de datos, intentelo de nuevo o registrese </h4>
<a href="/login"</a></br>
<a href="/register"</a></br>
<a href="/"> Instrucciones </a>
</form>
</html>
</body>
