<html>
<body>
<h2> Formulario de login </h2>
<h4> <span style="color:red"> <%= username %> </span> , usted ya ha iniciado sesión, ya puede ver el contenido en el siguiente enlace </h4>
<a href="/content"> Ir al contenido </a></br>
<a href="/changepassword"> Cambiar contraseña </a></br>
<a href="/logout"> Salir </a></br>
<a href="/"> Instrucciones </a>
</html>
</body>
