<html>
<body>
<h2 style="color:red"> <span> <%= username %> </span>, Has cerrado sesión </h2>
<h4> Si lo desea, puede volver a iniciar sesión </h4>
<a href="/login">/login</a></br>
<a href="/"> Instrucciones </a>
</form>
</html>
</body>
